In [68]:
import os
import pandas as pd
from natsort import os_sorted

In [69]:
experiments = os_sorted(os.listdir('results/'))
aucs  = []
accs = []
for experiment in experiments:
    df = pd.read_csv(os.path.join(f'results/{experiment}/summary.csv'))
    aucs.append(df['test_auc'].iloc[0])
    accs.append(df['test_acc'].iloc[0])

In [70]:
df = pd.DataFrame([experiments, aucs, accs]).T
df.columns = ['Experiment', 'Auc', 'Acc']
df

              Experiment       Auc       Acc
0   vim-s-224-clam_mb_s1  0.651511  0.585938
1   vim-s-224-clam_sb_s1  0.794885  0.765625
2       vim-s-224-mil_s1  0.756135  0.703125
3   vim-s-512-clam_mb_s1  0.732627  0.679688
4   vim-s-512-clam_sb_s1  0.735469  0.710938
5       vim-s-512-mil_s1  0.751227  0.671875
6   vit-s-224-clam_mb_s1  0.678119   0.78125
7   vit-s-224-clam_sb_s1  0.678894  0.765625
8       vit-s-224-mil_s1  0.753035  0.773438
9   vit-s-512-clam_mb_s1  0.615345  0.664062
10  vit-s-512-clam_sb_s1  0.652286  0.679688
11      vit-s-512-mil_s1  0.624128  0.546875

In [71]:
df[df['Experiment'].str.contains('512')]

              Experiment       Auc       Acc
3   vim-s-512-clam_mb_s1  0.732627  0.679688
4   vim-s-512-clam_sb_s1  0.735469  0.710938
5       vim-s-512-mil_s1  0.751227  0.671875
9   vit-s-512-clam_mb_s1  0.615345  0.664062
10  vit-s-512-clam_sb_s1  0.652286  0.679688
11      vit-s-512-mil_s1  0.624128  0.546875

In [72]:
df[df['Experiment'].str.contains('224')]

             Experiment       Auc       Acc
0  vim-s-224-clam_mb_s1  0.651511  0.585938
1  vim-s-224-clam_sb_s1  0.794885  0.765625
2      vim-s-224-mil_s1  0.756135  0.703125
6  vit-s-224-clam_mb_s1  0.678119   0.78125
7  vit-s-224-clam_sb_s1  0.678894  0.765625
8      vit-s-224-mil_s1  0.753035  0.773438